<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socket.io</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        let socket = io.connect();

        socket.on('SERVER_REPLY', msg => {
          $('#ul-list').append(`<li>${msg}</li>`)
        });

        $('#send').click(() => {
          let msg = $('#txt-msg').val();
          $('#txt-msg').val('');
          socket.emit('CLIENT_SEND_MESSAGE', msg);
        });

      });
    </script>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
    <input type="text" placeholder="Enter your username" id="txt-username">
    <button id="signup">Sign up</button>
    <br><br><br>
    <input type="text" placeholder="Enter your message" id="txt-msg">
    <button id="send">Send a message</button>
    <ul id="ul-list">
    </ul>
  </body>
</html>
